/*VARIABLES*/
 $color-principal:rgb(206, 123, 123);
 $titulo-font:35px;
 $subtitulos-color:rgb(112, 201, 179);
 $color-fondo:rgba(250, 237, 124, 0.788);

 *{
    Margin:0;
    padding:0;
    box-sizing: border-box;
 }

 @mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }

.header__logo{
    text-decoration: none;
    letter-spacing: 7px;
    font-size: 30px;
    a{
        color:white;
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        transition: all 0.4s linear;
        text-shadow: 2px 2px 4px #000000;
    }
}
 
.header__logo a:hover{
    color:yellow;
    text-shadow: 2px 2px 4px #000000;
}

    
.header__navegacion{
    opacity: 0.8;
    width: 98vw;
    padding-bottom: 15px;
    margin-bottom: 65px;
    background: rgba(206, 123, 123,0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ul{
        list-style: none;
        text-align:right;

    }
}

.header__menu > li{
    position: relative;
    display: inline-block;
}

.header__menu > li > a{
    padding: 15px 20px;
    color:black;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 18px;
    
}

.header__menu li a:hover{
    color:rgb(24, 223, 156);
    transition: all .3s;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.contenedorPadre{
    padding-bottom: 20px;
}

/*submenu*/
.header__submenu{
    position: absolute;
    width:100%;
    background:rgb(255, 230, 0);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    letter-spacing: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__submenu li a{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    color:$color-principal;
    text-decoration:none;
}

    .header__menu li:hover .header__submenu{
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}


/*catalogo*/


.imagenes__ruanas{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-color:$subtitulos-color;
    width: 100%;
    justify-content: center;
    background: rgba(127, 221, 193,0.8);
    div{
        display: flex;
        flex-direction:column;
        padding: 5px;
        margin: 20px;
        width: 350px;  
        border: 2px solid #dfe6e9;
    }  
}

img{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.imagenes__ruanas div img{
    transition:transform .8s;
}

.imagenes__ruanas div img:hover{
    transform:scale(1.1);
}


.imagenes__sweters{
    @extend .imagenes__ruanas;
}

.imagenes__sacos{
    @extend .imagenes__ruanas;
}

.imagenes__polerones{
    @extend .imagenes__ruanas;
}

#ruanas{
    color: $subtitulos-color;
    padding-top: 30px;
    font-size: 30px;
}

#polerones{
    @extend #ruanas;
}

#sweters{
    @extend #ruanas;
}

#sacos{
    @extend #ruanas;
}



h1{
    font-size: $titulo-font;
    text-transform: uppercase;
    color:$subtitulos-color;
    font-family: 'Fresca', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.footer__titulo{
    color:$color-principal;
    font-family: 'fresca', sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 30px;
}

.footer__noWrap {
    border-bottom: black 1px solid;
    img{
        width: 100px;
    }
}
    


/*contacto*/

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }

 .footer__color{
    @include sizes(98vw,20vh );
    background: rgba(206, 123, 123,0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
   
}

.p__center{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    border:$color-principal 30px solid;
    background-color:wheat;
    padding: 15px 15px 15px 15px;
    box-shadow: 10px 10px 5px rgba(61, 59, 59, 0.945);
    opacity: 0.8;
}

input{
    color:black;
  
}

.contacto{
    display: flex;
    flex-direction: column;
}
.contacto form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.espacio{
    padding-bottom: 5px;
    text-shadow: 2px 2px 4px #000000;
}
label{
    padding-bottom: 5px;

}

.espaciado{
    display:flex; 
    flex-direction:row ;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.novedades{
    padding-top: 20px;
}

h3{
    color:darkcyan;text-align: left;
}

/*clase para negrita*/
.footer__letraNegrita{
    font-family:'fresca', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}


/*clase para centrar el copy*/
.footer__center{
    height: 100%;
    text-align: center;
    padding-bottom: 30px;
}

/*TIPS*/
.formatoSubtitulo{
    font-size: 20px;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
    text-align:left;
    font-family: 'Fresca', sans-serif;
    word-spacing: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.tips{
    display: flex;
    flex-direction:column;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 6px;
    background: rgba(226, 219, 219, 0.3);
    
   
   
}

.masTips{
    border: 1px solid black;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    word-spacing: normal;
    font-size: 20px;
    background: rgba(226, 219, 219, 0.3);
}

.textoCaracteristicas{
    font-family: 'fresca', sans-serif;
    word-spacing: normal;
    padding: 1px 10px 10px 10px;
    font-size: 20px;
}

/*flexbox en cuidado de las prendas*/
.padre{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    opacity: 0.7;
    div{
        display: flex;
        flex-direction:column;
    }
}

/*flexbox para index*/

body{
    display: flex;
    flex-direction:column;
    align-items: center;

}

/*grid*/

/* CONTAINER */

.container {
    /*centro*/ 
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    /*hasta aca*/
    display: grid;
    /*añade un espaciado entre los contenedores*/
    gap: 1.6em;
    /*creo las 5 columnas*/
    grid-template-columns: repeat(5, 1fr);
    
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
   
}
/*para el header dentro del container,
 para el footer dentro del container*/
.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-color:rgb(206, 123, 123) ;
    color: #ffffff;

}

.container>.content {
    /*el content abarca 3 columnas*/
    grid-column: span 3;
    grid-row: span 3;
}

.content>.article {
    background-color:$subtitulos-color;
    opacity: 0.8;
    padding: 20px;
    margin-top: 5px;
    color: black
}

.content .article h1,
.content .article p {
    padding: 10px;
}
/*entrando */
.container>.sidebar {
    grid-column: span 2;
    grid-row: span 3;
    background:$subtitulos-color;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

}

.espacioEntreImg{
    padding-top: 50px;
  }
  
  .espacioNormal{
    word-spacing: normal;
  }
  
  .espacioNormal p{
    padding-top: 15px;
  }
/*estilo para imagen */
.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;

}

.footer{
    word-spacing: normal;
    width: auto;
}

.container{
    word-spacing: normal;
}



/*media queries*/
/*mobile*/
@media screen and (max-width:700px) {

    .header__navegacion{
        display: flex;
        flex-direction: column;
        
    }
    .header__navegacion .header__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        
    }

    .header__menu li{
        border-bottom: blanchedalmond 1px solid;
        
    }
    
    .container{
        display: flex;
        flex-direction: column;
    }


    form{
        width: 100%;
    }



    .header__logo a{
        font-size:24px;

    }

    .padre{
        display: flex;
        flex-direction: column;
        width: 200px;
        
    }

    .header__submenu{
        position: none;
        width:none;
        background:none;
        visibility:none;
        opacity: none;
        transition: opacity none;
        letter-spacing: none;
        box-shadow: none;
    }
    
    .header__submenu li a{
        display: none;
        display: none;
        flex-direction: column;
        align-items: none;
        justify-content: none;
        padding-right: none;
        color:none;
        text-decoration:none;
    }

    .footer__noWrap {
        border-bottom: black 1px solid;
        img{
            width: 70px;
        }
    }

    h1{
        font-size: 30px;
    }

}

/*animaciones*/

.header__logo{
    animation-duration: 4s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}   

body.imgFondo{
    background-image: url(https://d3ugyf2ht6aenh.cloudfront.net/stores/810/249/products/18512611-16ea-4883-be5d-22c22d9ed28a_1_105_c1-e627095f59687991d816209144861002-640-0.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

body.contacto{
    background-image: url(https://d3ugyf2ht6aenh.cloudfront.net/stores/810/249/products/be0751e1-3729-4f5f-92ae-a8caa042dc42_1_105_c1-36c16d3b5386b4326016209335156465-640-0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

body.body__center{
    background-image: url(https://i.pinimg.com/564x/01/bb/a3/01bba3d259ec96385e190b9069f8c520.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body.body__tips{
    background-image: url(https://d3ugyf2ht6aenh.cloudfront.net/stores/810/249/products/4a1abf99-9250-4c57-ae41-d70f2c6b156c_1_105_c21-c2a62e9458d57506ef16171293825434-1024-1024.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
    
body.body__catalogo{
    background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat:no-repeat;
    background-size: cover;

    
}

